
/*++++++++++HEADER+++++++++*/
/****UPPER****/
#header-upper{
	background-color: #242442;
	height: 55px;
	padding-top: 15px;
}
a, a:hover, a:focus{
	text-decoration: none;
	color:white;
}
a:hover{
	color:#2aacff;
}
#header-upper-left {
	font-size: 11px;
}

.glyphicon-envelope{
	color: #2aacff;
}
/****LOWER****/
#header-lower{
	background-color: #fff;
	border: 0;
	padding:0;
	width: 100%;	
}
.header-fixed{
	position: fixed;
	margin-top: -55px;
	
}

header.navbar-normal{
	font-size: 40px;
	height: 80px;
	line-height: 40px;
	padding-top: 20px;
}

header.navbar-shrink{
	min-height: 40px;
	font-size: 20px;	
	line-height: 20px;
	padding-top: -20px;
}

div,header,span{
	transition: .1s all;
	-moz-transition: .1s all;
	-webkit-transition: .1s all;
	-o-transition: .1s all;
}
/*++++++++++END OF HEADER+++++++++*/

/*~~~~~~~~~~MAIN CONTENT~~~~~~~~~~*/
#main-content{
	background: url(../images/bg.png) no-repeat center center;
	background-size: cover;
	height: 100vh;
	width: 100vw;
}


/*~~~~~~~~~~END OF MAIN CONTENT~~~~~~~~~~*/

/*----------FOOTER----------*/
#footer{
	padding-top: 30px;
	background-color: #242442;
	height: 385px;
	color:white;
}
.footer-title{
	color:#2aacff;
	font-weight: bold;
	text-transform: uppercase;
	font-size: 16px;
    padding-left: 10px;
	padding-right: 10px;
}
.footer-content{
	padding-top: 20px;
	font-size: 14px;
}
ul.footer-content{
	line-height: 40px;
}
ul{
	list-style-image: url('../images/bullet.png');
}
p.footer-content{
	padding-left: 10px;
	padding-right: 10px;
}
input{
	width: 100%;
}
.check-btn{
	background-color: #2aacff;
	color:white;
	border: none;
}
/*----------END OF FOOTER-----------*/


@media (min-width: 992px){

}

@media(max-width: 991px) and (min-width: 769px){

}

@media(max-width: 768px){

}